@charset "UTF-8";

/*branch: fix-modal*/

:root{
    --cor1: #464fce;
    --cor2: #f10048;;
    --cor3: #fcfbdf;
    --cor4: #585a8b;
    --cor5: #21234b;
    --cor6: #383946;
    --cor7:  #9188b6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--cor4);
    display: grid;
    grid-auto-rows: auto;
    grid-template-rows: 100px 0px 50px auto auto 300px;
    grid-template-columns: minmax(0px, 200px) 1fr;
    grid-template-areas: "header header"
                         "navigation navigation"
                         "menu menu"
                         "main main"
                         "aside aside"
                         "footer footer";
}
html,body{
    width: 100%;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#0d0e24;
}
header{
    grid-area: header;
    background-color:  var(--cor1);
    color: var(--cor3);
    padding: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    z-index: 100;
}
h1{
    display: flex;
    align-items: center;
}
.hidden{
    display: none !important; /*sobrepõe outros estilos para evitar conflitos*/
}
.menu-mobile{
    grid-area: menu;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #21234b;
    color: var(--cor3);
    text-align: center;
    transition: 0.3s linear;
    z-index: 2;
}
.menu-mobile span{
    margin: 15px;
}
.menu-mobile span:hover{
    cursor: pointer;
}
.navigation{
    grid-area: navigation;
    transition: all .3s ease;
    transform: translateY(50px);
    z-index: 1;
}
.navigation-links-div{
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    transition: .6s ease;
}
.navigation-links-div .nav-link{
    color:#fcfbdf;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    background-color: var(--cor4);
    font-size: 1em;
    border-style: none;
}
.navigation-links-div-closed{
    transform: translateY(-430px);
}
.navigation-links-div .nav-link:hover{
    background-color: #9188b6;
    cursor: pointer;
}
.price-range-mobile-div{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 20px;
    background-color: var(--cor4);
    transition: .6s ease;
    position: absolute;
    z-index: 1;
    top: 150px;
    width: 100%;
    color: var(--cor3);
}
.price-range-mobile-div-closed{
    top: -700px;
}
.price-range-mobile-div > .form-filter-mobile{
    display: flex;
    flex-flow: column nowrap;
}
.form-filter-mobile label{
    text-align: center;
    padding: 5px;
}
.form-filter-mobile h2{
    font-size: 1.3em;
    padding-bottom: 15px;
}

.form-filter-mobile > .filter-options ul{
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}
.form-filter-mobile > .filter-options > ul > li{
    margin: 5px;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    background-color: var(--cor5);
    cursor: pointer;
}
.filter-options > ul > li.checked-option{
    border: solid 1px var(--cor3);
}
.filter-options > ul > li > input[type="checkbox"]{
    display: none;
}
.form-filter-mobile > .filter-controls{
    display: flex;
    flex-flow: column nowrap;
    padding-top: 20px;
}

.div-search{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
}
.div-search input{
    position: absolute;
    border-style: none;
    color: #0d0e24;
    height: 32px;
    left: 100%;
    width: 0px;
    border-radius: 15px;
    transition: .5s;
}
#search-icon{
    display: inline-block;
    font-size: 1.8em;
    padding: 6px;
    width: 40px;
    text-align: center;
    background-color: transparent;
    z-index: 1;
}
.div-search, #search-icon{
    transition: .4s ease;
}
#search-icon:hover{
    cursor: pointer;
}
.btn{
    text-decoration: none;
    border-style: none;
    background-color: var(--cor5);
    padding: 8px;
    margin: 3px;
    border-radius: 3px;
    color:#fcfbdf ;
    transition: background-color 0.2s linear;
}
.btn:hover{
    cursor: pointer;
}
.btn-add, .btn-filter{
    background-color: #f10048;
}
.btn:active{
    background-color: #ebeb91;
}
main{
    grid-area: main;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    align-items: flex-start;
    background-color: var(--cor3);
    width: 100%;
}
main > p{
    margin-top: 30px;
    background-color: var(--cor4);
    text-align: center;
    width: 100%;
    color: var(--cor3);
    padding: 15px;
}
.product-section{
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--cor3);
    width: 100%;
}
 .product-section > p.result-message{
    color: var(--cor4);
    font-weight: bold;
}
.product{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: var(--cor3);
    width: 100%;
    padding: 15px;
    text-align: center;
}
.product img{
    max-width: 190px;
    box-shadow: 1px 1px 0px 1px var(--cor5);
    border-radius: 5px;
}
.product-description{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.product-description p, .product-description h3 {
    margin: 10px;
}

aside{
    grid-area: aside;
}
footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    grid-area: footer;
    background-color: #383946;
    padding: 10px;
    color:#fcfbdf;
}
footer p{
    margin: 10px;
}
.social-icon{
    display: block;
    width: 40px;
    margin: auto;
    margin-top: 50px;
    border-radius: 100%;
    transition: box-shadow 0.6s, width 0.2s;
}
.social-icon:hover{
    box-shadow: 0px 0px 4px 0px var(--cor3);
}
.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0e248e;
    position: fixed;
    z-index: 100;
    color: white;
    width: 100%;
    height: 100%;
}
.product-details{
    position: relative;
    background-color: var(--cor3);
    color:var(--cor5);
    height: 450px;
    width: 80%;
    padding: 5px;
    border-radius: 10px;
    overflow-y: scroll;
    transition: all .6s ease;
}
.product-details-closed{
    transform: translateY(1200px);
}

.product-details::-webkit-scrollbar{ /*enconde barra de rolagem*/
    display: none;
}
.product-details img{
    width: 100%;
    max-width: 200px;
    border: solid 1px var(--cor2);
}
.product-details #close-button{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    border-radius: 40%;
    padding: 3px;
    background-color: var(--cor2);
    color: white;
    left: 5px;
    top: 5px;
    transition:  background-color 0.3s;
}
.product-details span#close-details:hover{
    background-color: #f57ba0;
}
.product-details p, .product-details div.options, .product-details img{
    margin: 10px;
}
.product-details > .info{
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
    padding: 10px;
    border-radius: 5px;
}
.product-details > .info > .data > .description{
    background-color: #ffffff;
    border: 1px solid var(--cor5);
    height: 40%;
    border-radius: 5px;
    padding: 10px;
    overflow-y: scroll;
}
.product-details > .info >.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
    color: var(--cor3);
    background-color: var(--cor4);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.product-details > .info >.header, .product-details > .info >.data{
    margin: 5px;
}
.product-details > .info > .header > .title{
    margin-bottom: 10px;
    font-size: 1.5em;
    width: 200px;
}
.product-details > .info > .header > img{
    display: block;
     box-shadow: 1px 1px 0px 1px var(--cor5);
    border-radius: 5px;
    border-style: none;
    margin-bottom: 20px;
    height: 200px;
    width: 100%;
}

@media screen and (min-width: 620px) {
    body{
        grid-template-rows: 100px 30px 50px auto auto 300px;
        grid-template-areas: "header header"
                            "aside navigation"
                             "aside main"
                             "aside main"
                             "aside main"
                             "aside footer";
    }
    header{
        height: 100px;
    }
    main{
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    main > p{
        margin: 0;
    }
    .menu-mobile{
        display: none;
    }
    .navigation{
        display: flex;
        justify-content: center;
         transform: translateY(0px);
    }
    .navigation-links-div{
        top: 100px;
        width: 100%;
        flex-flow: row nowrap;
        justify-content: center;
     
    }
    .navigation-links-div .nav-link{
        padding: 6px;
        flex: 0
         1 200px;
    }
    #search-icon{
        background-color: var(--cor5);
        font-size: 1.4em;
        border-radius: 1px 18px 18px 1px;
        opacity: 100%;
    }
    #search-icon:active{
        background-color: var(--cor3);
    }
    .div-search input{
        width: 55%;
        left: 39%;
    }
    .product-section{
        display: grid;
        grid-template-columns: repeat(auto-fit, 250px);
        justify-content: space-around;
        align-content: space-around;
        place-items: stretch stretch;
        gap: 5px;
        padding: 20px;
        width: 100%;
    }
    .product{
        flex-flow: column nowrap;
        border-radius: 5px;
        transition: all 0.2s ease;   
    }
    .product:hover{
        box-shadow: 1px 1px 0px 2px var(--cor5);
        margin-left: 5px;
    }
    .product:active{
        background-color: var(--cor1);
        color: var(--cor3);
    }
    .product img{
        align-self: center;
        margin: 15px;
        height: 190px;
        max-width: 190px;
    }
    .product .product-description{
        text-align: left;
        margin: 0px;
    }
    .product-details > .info >.header > .title{
        text-align: left;
    }
    .product-details #close-button{

    }
    aside{
        display: block;
        position: fixed;
        background-color: var(--cor3);
        top: 100px;
        width: 200px;
        height: 100%;
        transition: all 0s; /*0s = animação sem delay*/
    }
    aside form{
        padding: 20px;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    aside li{
        margin: 10px;
        list-style: none;
    }
    aside h2{
        margin-bottom: 20px;
    }
    .product-details{
        height: auto;
        max-width: 600px;
    }
    .product-details > .info{
        flex-flow: row nowrap;
    }
    .product-details > .info > .data{
        flex-basis: 50%;
        padding: 10px;
    }
}
