@charset "UTF-8";

/*branch: master*/

/*branch: teste-grid-product-section*/

:root{
    --cor1: #464fce;
    --cor2: #f10048;;
    --cor3: #fcfbdf;
    --cor4: #585a8b;
    --cor5: #21234b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor4);
    display: grid;
    grid-template-rows: 100px repeat(3, auto) 300px;
    grid-template-columns: minmax(0px, 200px) 1fr;
    grid-template-areas: "header header"
                         "menu menu"
                         "main main"
                         "aside aside"
                         "footer footer";
}
html,body{
    width: 100%;
    height: 100%;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#0d0e24;
}
header{
    grid-area: header;
    background-color:  var(--cor1);
    color: var(--cor3);
    height: 90px;
    padding: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
h1{
    display: flex;
    align-items: center;
}
nav{
    grid-area: menu;
    width: 100%;
}
header, .menu{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #21234b;
    color: var(--cor3);
    width: 100%;
    height: 40px;
    text-align: center;
    transition: 0.3s linear;
    margin-top: -10px;
}
.menu span{
    margin: 15px;
}
.menu span:hover{
    cursor: pointer;
}
#menu-options{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    transition: .8s ease;
    margin-top: -300px;
    position: fixed;
    width: 100%;
    z-index: 0;
}
#menu-options button{
    color:#fcfbdf;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: var(--cor4);
    font-size: 1em;
    border-style: none;
    transition: background-color .3s ease-in;
}
#menu-options.menu-open{
    margin-top: 30px;

}
#menu-options button:hover{
    background-color: #9188b6;
    cursor: pointer;
}
.menu-option-checked{
    background-color: var(--cor3);
    color:#0d0e24;
}
.price-range-mobile-div{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: var(--cor4);
    margin-left: -700px;
    transition: .6s ease;
    position: fixed;
    top: 22%;
    width: 100%;
}
.price-range-mobile-div-open{
    margin-left: 0px;
}
.price-range-mobile-div label{
    display: flex;
    align-items: center;
    color: var(--cor3);
} 
.div-search{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
}
.div-search input{
    position: absolute;
    border-style: none;
    color: #0d0e24;
    height: 32px;
    left: 100%;
    width: 0px;
    border-radius: 15px;
    transition: .5s;
}
#search-icon{
    display: inline-block;
    font-size: 1.8em;
    padding: 6px;
    width: 40px;
    text-align: center;
    background-color: transparent;
    z-index: 1;
}
.div-search, #search-icon{
    transition: .4s ease;
}
#search-icon:hover{
    cursor: pointer;
}
.btn{
    text-decoration: none;
    border-style: none;
    background-color: var(--cor5);
    padding: 8px;
    margin: 3px;
    border-radius: 3px;
    color:#fcfbdf ;
    transition: background-color 0.2s linear;
}
.btn:hover{
    cursor: pointer;
}
.btn-add, .btn-filter{
    background-color: #f10048;
}
.btn:active{
    background-color: #ebeb91;
}
main{
    grid-area: main;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    align-items: flex-start;
    background-color: #0d0e24;
    width: 100%;
}
main > p{
    margin-top: 30px;
    background-color: var(--cor4);
    text-align: center;
    width: 100%;
    color: var(--cor3);
    padding: 15px;
}
.product-section{
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--cor3);
    width: 100%;
}
 .product-section > p.result-message{
    color: var(--cor4);
    font-weight: bold;
}
.product{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: var(--cor3);
    width: 100%;
    padding: 15px;
    text-align: center;
}
.product img{
    max-width: 190px;
    box-shadow: 1px 1px 0px 1px var(--cor5);
    border-radius: 5px;
}
.product-description{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.product-description p, .product-description h3 {
    margin: 10px;
}

aside{
    grid-area: aside;
    background-color: var(--cor3);
}
.hidden{
    display: none;
}
footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    grid-area: footer;
    background-color: #383946;
    padding: 10px;
    color:#fcfbdf;
}
footer p{
    margin: 10px;
}
.social-icon{
    display: block;
    width: 40px;
    margin: auto;
    margin-top: 50px;
    border-radius: 100%;
    transition: box-shadow 0.6s, width 0.2s;
}
.social-icon:hover{
    box-shadow: 0px 0px 4px 0px var(--cor3);
}
.modal{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #0d0e248e;
    position: fixed;
    z-index: 100;
    color: white;
    width: 100vw;
    height: 100vh;
}
.product-details{
    position: relative;
    background-color: var(--cor3);
    color:var(--cor5);
    height: 450px;
    width: 70%;
    max-width: 600px;
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
}
.product-details::-webkit-scrollbar{ /*enconde barra de rolagem*/
    display: none;
}
.product-details img{
    width: 100%;
    max-width: 200px;
    border: solid 1px var(--cor2);
}
.product-details #close-button{
    position: fixed;
    cursor: pointer;
    display: inline-block;
    border-radius: 40%;
    padding: 3px;
    background-color: var(--cor2);
    left: 80%;
    top: 10%;
    color: white;
    transition:  background-color 0.3s;
}
.product-details span#close-details:hover{
    background-color: #f57ba0;
}
.product-details p, .product-details div.options, .product-details img{
    margin: 10px;
}
.product-details .info{
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    padding: 10px;
}
.product-details .description{
    background-color: #ffffff;
    border: 1px solid var(--cor5);
    height: 40%;
    border-radius: 5px;
    padding: 10px;
    overflow-y: scroll;
}
.product-details .header{

}
.product-details .header h3{
    margin-bottom: 10px;
}
.product-details .header img{
    display: block;
    border-radius: 5px;
}
.product-details .data{

}

@media screen and (min-width: 620px) {
    body{
        grid-template-areas: "header header"
                             "menu menu"
                             "aside main"
                             "aside main"
                             "aside footer";
    }
    header{
        height: 100px;
    }
    main{
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    main > p{
        margin: 0;
    }
    .hamburger-menu{
        display: none;
    }
    nav{
        display: none;
        flex-flow: row wrap;
    }
    #search-icon{
        background-color: var(--cor5);
        font-size: 1.4em;
        border-radius: 1px 18px 18px 1px;
        opacity: 100%;
    }
    #search-icon:active{
        background-color: var(--cor3);
    }
    .div-search input{
        width: 55%;
        left: 39%;
    }
    .product-section{
        display: grid;
        grid-template-columns: repeat(auto-fit, 250px);
        justify-content: space-around;
        align-content: space-around;
        place-items: stretch stretch;
        gap: 5px;
        padding: 20px;
        width: 100%;
   
    }
    .product{
        flex-flow: column nowrap;
        border-radius: 5px;
        transition: all 0.2s ease;   
    }
    .product:hover{
        box-shadow: 1px 1px 0px 2px var(--cor5);
        margin-left: 5px;
    }
    .product:active{
           background-color: var(--cor1);
            color: var(--cor3);
    }
    .product img{
        align-self: center;
        margin: 15px;
        height: 190px;
        max-width: 190px;
    }
    .product .product-description{
        text-align: left;
        margin: 0px;
    }
    aside{
        display: block;
        position: fixed;
        background-color: var(--cor3);
        color: var(--cor5);
        top: 100px;
        height: 100%;
        width: 200px;
    }
    aside form{
        padding: 20px;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    aside li{
        margin: 10px;
        list-style: none;
    }
    aside h2{
        margin-bottom: 20px;
    }
    .product-details{
        height: auto;
        max-width: 550px;
    }
    .product-details .info{
        flex-flow: row nowrap;
    }
    .product-details .data{
        flex-basis: 50%;
        padding: 10px;
    }
    .product-details .options{
    }
}
