@charset "UTF-8";

:root{
    --cor1: #464fce;
    --cor2: #f10048;;
    --cor3: #fcfbdf;
    --cor4: #585a8b;
    --cor5: #21234b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#0d0e24;
}
body{
    background-color: var(--cor4);
    display: grid;
    grid-template-rows: 100px repeat(3, max-content) 200px;
    grid-template-columns: minmax(0px, 210px) 1fr;
    grid-template-areas: "header header"
                         "menu menu"
                         "main main"
                         "aside aside"
                         "footer footer";
}
header{
    grid-area: header;
    background-color:  var(--cor1);
    color: #fcfbdf;
    height: 90px;
    padding: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
h1{
    display: flex;
    align-items: center;
}
nav{
    grid-area: menu;
    width: 100%;
}
header, .menu{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #21234b;
    color: var(--cor3);
    width: 100%;
    height: 40px;
    text-align: center;
    transition: 0.3s linear;
    margin-top: -10px;
}
.menu span{
    margin: 15px;
}
.menu span:hover{
    cursor: pointer;
}
#menu-options{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    transition: .8s ease;
    margin-top: -210px;
    position: fixed;
    width: 100%;
    z-index: 0;
}
#menu-options button{
    color:#fcfbdf;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: var(--cor4);
    font-size: 1em;
    border-style: none;
    transition: background-color .3s ease-in;
}
#menu-options.menu-open{
    margin-top: 30px;

}
#menu-options button:hover{
    background-color: #9188b6;
    cursor: pointer;
}
.menu-option-checked{
    background-color: var(--cor3);
    color:#0d0e24;
}
.price-range-mobile-div{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: var(--cor4);
    margin-left: -700px;
    transition: .6s ease;
    position: fixed;
    top: 22%;
    width: 100%;
}
.price-range-mobile-div-open{
    margin-left: 0px;

}
.price-range-mobile-div label{
    display: flex;
    align-items: center;
    color: var(--cor3);
} 
.div-search{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
}
.div-search input{
    position: absolute;
    border-style: none;
    color: #0d0e24;
    height: 32px;
    left: 100%;
    width: 0px;
    border-radius: 15px;
    transition: .5s;
}
#search-icon{
    display: inline-block;
    font-size: 1.8em;
    padding: 6px;
    width: 40px;
    text-align: center;
    background-color: transparent;
    z-index: 1;
}
.div-search, #search-icon{
    transition: .4s ease;
}
#search-icon:hover{
    cursor: pointer;
}
.btn{
    text-decoration: none;
    border-style: none;
    background-color: var(--cor5);
    padding: 8px;
    border-radius: 3px;
    color:#fcfbdf ;
    transition: background-color 0.2s linear;
}
.btn:hover{
    cursor: pointer;
}
.btn-red{
    background-color: #f10048;
}
.btn:active{
    background-color: #ebeb91;
}
main{
    grid-area: main;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    align-items: flex-start;
    background-color: #0d0e24;
    width: 100%;
}
main > p{
    margin-top: 30px;
    background-color: var(--cor4);
    text-align: center;
    width: 100%;
    color: var(--cor3);
    padding: 15px;
}
.product{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: var(--cor3);
    width: 100%;
    padding: 15px;
    text-align: center;
}
.product img{
    max-width: 200px;
    width: 50%;
    border: solid 1px #f10048;
    border-radius: 5px;
}
.product-description{
    text-align: left;
    margin: 5px;
}
.product-description div,.product-description p, .product-description h3 {
    margin: 8px;
}
aside{
    display: none;
    grid-area: aside;
    background-color: var(--cor3);
    width: 210px;
    height: 100%;
    padding: 20px;
}
aside li{
    margin: 15px;
    list-style: none;
}
aside h2{
    margin-bottom: 20px;
}
footer{
    grid-area: footer;
    background-color: #383946;
    padding: 20px;
    color:#fcfbdf;
}
@media screen and (min-width: 670px) {
    body{
        grid-template-areas: "header header"
                             "menu menu"
                             "aside main"
                             "aside main"
                             "footer footer";
    }
    header{
        height: 100px;
    }
    main{
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    main > p{
        margin: 0;
    }
    .hamburger-menu{
        display: none;
    }
    nav{
        display: none;
        flex-flow: row wrap;
    }
    #search-icon{
        background-color: var(--cor5);
        font-size: 1.4em;
        border-radius: 1px 18px 18px 1px;
        opacity: 100%;
    }
    #search-icon:active{
        background-color: var(--cor3);
    }
    .div-search input{
        width: 55%;
        left: 39%;
    }
    .product{
        flex-flow: column nowrap;
        border-radius: 5px;
        margin: 5px;
    }
    .product img{
        margin: auto;
    }
    aside{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        position: sticky;
        top: 100px;
    }

}
